%post-item {
	border-top: 1px solid $sm-border-color;
	padding: map-get($spacing-mobile,medium) 0;

	@include mq($from: tablet-l) {
		padding: map-get($spacing-mobile,medium) 0;
	};

	.entry-header {
		margin-top: 0;
		margin-bottom: map-get($spacing-mobile,small);

		@include mq($from: tablet) {
			margin-bottom: map-get($spacing-tablet,small);
		}
	}

	.entry-title {
		font-size: 25px;
		line-height: 1.5;
		max-width: none;
		text-transform: none;
		font-weight: 400;
		margin-bottom: 11px;

		br {
			display: none;
		}

		a {
			text-decoration: none;
			border-bottom: 1px solid map-get($sm-palette, primary);

			&:hover {
				text-decoration: none;
				border-bottom-color: transparent;
			}
		}
	}

	.entry-meta {
		font-size: 20px;
	}

	.post-thumbnail {
		@include mq($until: tablet) {
			margin-bottom: map-get($spacing-mobile,small);
		}

		img {
			display: block;
		}
	}

	.blog-content {
		@include mq($from: tablet) {
			display: grid;
			grid-column-gap: 48px;
			grid-template-columns: 217px 1fr;
		}
	}

	.entry-content {
		p {
			margin-top: 0;
			font-weight: 300;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@include mq($from: tablet) {
			align-self: center;

			p:first-child {
				margin-top: -0.5em;
			}
		}
	}
}

body.blog,
body.archive {
	.page-title {
		margin-bottom: map-get($spacing-mobile,large);

		@include mq($from: tablet-l) {
			margin-bottom: map-get($spacing-tablet,large);
		};
	}

	.post {
		@extend %post-item;
	}

	.site-main {
		margin-bottom: map-get($spacing-mobile,xxlarge);

		@include mq($from: tablet) {
			margin-bottom: map-get($spacing-tablet,xxlarge);
		}
	}
}// .blog

.post-type-archive-case-studies {

	.case-study-item {
		@extend %post-item;

		.entry-title {
			margin-bottom: map-get($spacing-mobile,small);

			@include mq($from: tablet) {
				margin-bottom: map-get($spacing-tablet,small);
			}
		}
	}
}

.pagination {
	border-top: 1px solid $sm-border-color;
	text-align: right;
	padding-top: map-get($spacing-mobile,large);

	@include mq($from: tablet-l) {
		padding-top: map-get($spacing-mobile,large);
	};

	.page-numbers {
		font-size: 20px;
		line-height: 1;
		display: inline-block;
		padding: 5px;
		margin: 0 5px;
	}

	.current {
		color: map-get($sm-palette, lavender-gray);
	}
}

section.term + .term {
	margin-top: 2rem;
}

.taxonomy-term-title {
	display: flex;
	justify-content: space-between;
	align-items: center;

	h2 {
		font-weight: 400;
		text-transform: uppercase;
	}
}