%post-item {
	border-top: 1px solid $sm-border-color;
	padding: map-get($spacing-mobile,medium) 0;

	@include mq($from: tablet-l) {
		padding: map-get($spacing-mobile,medium) 0;
	};

	.entry-header {
		margin-top: 0;
		margin-bottom: map-get($spacing-mobile,small);

		@include mq($from: tablet) {
			margin-bottom: map-get($spacing-tablet,small);
		}
	}

	.entry-title {
		font-size: 25px;
		max-width: none;
		text-transform: uppercase;
		font-weight: 400;
		margin-bottom: 11px;

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.entry-meta {
		font-size: 20px;
	}

	.post-thumbnail {
		margin-bottom: 20px;

		img {
			display: block;
		}
	}

	.blog-content {
		@include mq($from: tablet) {
			display: grid;
			grid-column-gap: 48px;
			grid-template-columns: 217px 1fr;
		}
	}

	.entry-content {
		p {
			margin-top: 0;
			font-weight: 300;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@include mq($from: tablet) {
			align-self: center;

			p:first-child {
				margin-top: -0.5em;
			}
		}
	}
}

.post-type-archive {
	.site-content {
		margin-bottom: 56px;
	}
}

.post-type-archive-case-studies {
	.page-header {
		margin-bottom: 42px;

		@include mq($from: tablet) {
			margin-bottom: 82px;
		}
	}

	.case-study-item {
		@extend %post-item;

		.entry-title {
			margin-bottom: 19px;
		}
	}
}

.pagination {
	border-top: 1px solid $sm-border-color;
	text-align: right;
	padding-top: map-get($spacing-mobile,large);

	@include mq($from: tablet-l) {
		padding-top: map-get($spacing-mobile,large);
	};

	.page-numbers {
		font-size: 20px;
		line-height: 1;
		display: inline-block;
		padding: 5px;
		margin: 0 5px;
	}

	.current {
		color: map-get($sm-palette, lavender-gray);
	}
}