.blog,
.single-post,
.category {
	.content-area {

	}
}

.blog,
.category {
	.page-title {
		margin-bottom: 62px;
	}

	.post {
		border-top: 1px solid $sm-border-color;
		padding: 30px 0;


		.entry-header {
			margin-top: 0;
			margin-bottom: 33px;

			@include mq($from: tablet) {
				margin-bottom: 25px;
			}
		}

		.entry-title {
			font-size: 25px;
			max-width: none;
			text-transform: uppercase;
			font-weight: 400;

			a {
				text-decoration: none;
			}
		}

		.post-thumbnail {
			margin-bottom: 20px;

			img {
				display: block;
			}
		}

		.blog-content {
			@include mq($from: tablet) {
				display: grid;
				grid-column-gap: 48px;
				grid-template-columns: 217px 1fr;
			}
		}

		.entry-content {
			p {
				margin-top: 0;
				font-weight: 300;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.pagination {
		.page-numbers {
			font-size: 20px;
			line-height: 1;
			display: inline-block;
			padding: 5px;
			margin: 0 5px;
		}

		.current {
			color: map-get($sm-palette, lavender-gray);
		}
	}
}// .blog

.nav-links {
	.icon {
		width: 24px;
		height: 24px;
	}
}

.search-form {
	display: flex;

	.search-field {
		padding: 4px 8px;
	}

	.search-submit {
		padding: 4px;

		.icon {
			display: block;
			width: 24px;
			height: 24px;
		}
	}
}

.single-post {
	.back-to-blog-link {
		display: inline-block;

		@include mq($from: tablet) {
			margin-top: 30px;
			margin-bottom: 20px;
		}
	}

	.single-featured-image-header {
		margin-bottom: 60px;
	}

	.cat-tags-links {
		margin-top: 60px;
	}

	.tags-links {
		display: block;
		padding-left: 28px;
		background-image: url("#{$sm-images}/icons/icon-tag.svg");
		background-size: 18px auto;
		background-position: 0 0;
		background-repeat: no-repeat;
		line-height: 25px;
	}
}