.nav-links {
	.icon {
		width: 24px;
		height: 24px;
	}
}


body.single-post {
	.entry-header {
		.entry-title {
		}

		.entry-meta {
			font-size: 20px;
		}
	}
}

.search-form {
	display: flex;

	.search-field {
		padding: 4px 8px;
	}

	.search-submit {
		padding: 4px;

		.icon {
			display: block;
			width: 24px;
			height: 24px;
		}
	}
}

body.single {
	.back-to-blog-link,
	.back-to-news-link,
	.back-to-events-link {
		display: inline-block;
		font-size: 20px;

		@include mq($from: tablet) {
			margin-top: 35px;
		}
	}

	.single-featured-image-header {
		margin-bottom: map-get($spacing-mobile,large);

		@include mq($from: tablet) {
			margin-bottom: map-get($spacing-tablet,large);
		}
	}

	article.post {
		.entry-header {
			margin-top: map-get($spacing-mobile,large);
			margin-bottom: map-get($spacing-mobile,large);

			@include mq($from: tablet) {
				margin-top: map-get($spacing-tablet,large);
				margin-bottom: map-get($spacing-tablet,large);
			}

			.entry-title + .entry-meta {
				margin-top: 4px;
			}
		}

		.entry-footer {
			padding-top: map-get($spacing-mobile,medium);
			padding-bottom: map-get($spacing-mobile,xxlarge);

			@include mq($from: tablet-l) {
				padding-top: map-get($spacing-tablet,medium);
				padding-bottom: map-get($spacing-tablet,xxlarge);
			}
		}
	}

	.tags-links,
	.cat-links {
		display: block;
		line-height: 25px;

		@include mq($from: tablet-l) {
			display: inline-block;
		}
	}

	.tags-links {
		padding-left: 28px;
		background-image: url("#{$sm-images}/icons/icon-tag.svg");
		background-size: 18px auto;
		background-position: 0 0;
		background-repeat: no-repeat;

		+ .cat-links {
			margin-left: 57px;
		}
	}

	.news-source {
		display: block;
		margin-bottom: map-get($spacing-mobile,small);
		max-height: 52px;
		width: auto;

		@include mq($from: tablet-l) {
			margin-bottom: map-get($spacing-tablet,small);
		}
	}
}

.wp-block-recent-posts {
	.wp-block-recent-posts-item {
		.entry-content {
			@include mq($from: tablet) {
				align-self: center;

				p:first-child {
					margin-top: -0.5em;
				}
			}
		}
	}
}

.wp-block-sm-section {
	> .wp-block-recent-posts,
	> .wp-block-recent-news,
	> .wp-block-recent-events {
		> h2:first-child {
			margin-top: 0;
		}
	}
}

.wp-block-recent-posts,
.wp-block-recent-news,
.wp-block-recent-events {
	h2 {
		text-transform: uppercase !important;
	}

	.wp-block-recent-posts-item,
	.wp-block-recent-events-item,
	.wp-block-recent-news-item {
		@extend %post-item;
	}

	.wp-block-recent-posts-view-all,
	.wp-block-recent-news-view-all,
	.wp-block-upcoming-events-view-all {
		border-top: 1px solid map-get($sm-palette, light-gray);
		text-align: right;
		padding-top: 60px;

		a {
			text-decoration: none;
			color: map-get($sm-palette, blue);

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.wp-block-recent-news,
.wp-block-recent-events {
	.wp-block-recent-posts-item,
	.wp-block-recent-events-item {
		.blog-content {
			@include mq($from: tablet) {
				display: block;
			}

			.entry-content {
				p:first-child {
					margin-top: 0;
				}
			}
		}
	}
}

.wp-block-sm-section[class*='color'] {
	.wp-block-recent-news {
		.wp-block-recent-news-item {
		}

		.wp-block-recent-news-view-all {
			a {
				color: inherit;
			}
		}
	}
}

.post-type-archive-news {
	.type-news {
		@extend %post-item;

		.blog-content {
			grid-template-columns: 70px 1fr;
		}
	}
}

.post-type-archive-event,
.archive.tax-event-timeline {
	.type-event {
		@extend %post-item;

		.blog-content {
			display: block;
		}
	}
}