%post-item {
	border-top: 1px solid $sm-border-color;
	padding: 40px 0;

	.entry-header {
		margin-top: 0;
		margin-bottom: 33px;

		@include mq($from: tablet) {
			margin-bottom: 19px;
		}
	}

	.entry-title {
		font-size: 25px;
		max-width: none;
		text-transform: uppercase;
		font-weight: 400;
		margin-bottom: 11px;

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.entry-meta {
		font-size: 20px;
	}

	.post-thumbnail {
		margin-bottom: 20px;

		img {
			display: block;
		}
	}

	.blog-content {
		@include mq($from: tablet) {
			display: grid;
			grid-column-gap: 48px;
			grid-template-columns: 217px 1fr;
		}
	}

	.entry-content {
		p {
			margin-top: 0;
			font-weight: 300;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@include mq($from: tablet) {
			align-self: center;

			p:first-child {
				margin-top: -0.5em;
			}
		}
	}
}

.blog,
.archive.category,
.archive.tag {
	.page-title {
		margin-bottom: 62px;
	}

	.post {
		@extend %post-item;
	}

	.pagination {
		.page-numbers {
			font-size: 20px;
			line-height: 1;
			display: inline-block;
			padding: 5px;
			margin: 0 5px;
		}

		.current {
			color: map-get($sm-palette, lavender-gray);
		}
	}
}// .blog

.nav-links {
	.icon {
		width: 24px;
		height: 24px;
	}
}

.search-form {
	display: flex;

	.search-field {
		padding: 4px 8px;
	}

	.search-submit {
		padding: 4px;

		.icon {
			display: block;
			width: 24px;
			height: 24px;
		}
	}
}

.single-post {
	.back-to-blog-link {
		display: inline-block;

		@include mq($from: tablet) {
			margin-top: 30px;
			margin-bottom: 20px;
		}
	}

	.single-featured-image-header {
		margin-bottom: 60px;
	}

	article.post {
		.entry-header {
			.entry-title + .entry-meta {
				margin-top: 20px;
			}
		}

		.entry-footer {
			padding-top: 40px;
			padding-bottom: 100px;

			@include mq($from: tablet-l) {
				padding-top: 70px;
			}
		}
	}

	.tags-links,
	.cat-links {
		display: block;
		line-height: 25px;

		@include mq($from: tablet-l) {
			display: inline-block;
		}
	}

	.tags-links {
		padding-left: 28px;
		background-image: url("#{$sm-images}/icons/icon-tag.svg");
		background-size: 18px auto;
		background-position: 0 0;
		background-repeat: no-repeat;

		+ .cat-links {
			margin-left: 57px;
		}
	}
}

.wp-block-recent-posts {
	.wp-block-recent-posts-item {
		.entry-content {
			@include mq($from: tablet) {
				align-self: center;

				p:first-child {
					margin-top: -0.5em;
				}
			}
		}
	}
}

.wp-block-recent-posts,
.wp-block-recent-news,
.wp-block-recent-events {
	h2 {
		text-transform: uppercase !important;
	}

	.wp-block-recent-posts-item,
	.wp-block-recent-events-item,
	.wp-block-recent-news-item {
		@extend %post-item;
	}

	.wp-block-recent-posts-view-all,
	.wp-block-recent-news-view-all,
	.wp-block-upcoming-events-view-all {
		border-top: 1px solid map-get($sm-palette, light-gray);
		text-align: right;
		padding-top: 60px;

		a {
			text-decoration: none;
			color: map-get($sm-palette, blue);

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.wp-block-recent-news {
	.wp-block-recent-posts-item {
		.blog-content {
			@include mq($from: tablet) {
				display: block;
			}

			.entry-content {
				p:first-child {
					margin-top: 0;
				}
			}
		}
	}
}

.wp-block-sm-section[class*='color'] {
	.wp-block-recent-news {
		.wp-block-recent-news-item {
		}

		.wp-block-recent-news-view-all {
			a {
				color: inherit;
			}
		}
	}
}

.post-type-archive-news {
	.type-news {
		@extend %post-item;

		.blog-content {
			grid-template-columns: 70px 1fr;
		}
	}
}

.post-type-archive-event {
	.type-event {
		@extend %post-item;

		.blog-content {
			display: block;
		}
	}
}