.site-footer {
	background-color: $sm-footer-bcolor;
	color: white;
	padding-top: 54px;
	padding-bottom: 100px;

	@include mq($from: tablet) {
		padding-bottom: 128px;
	}

	@include mq($from: desktop) {
		padding-bottom: 52px;
	}

	a {
		color: white;
	}

	.site-branding {
		border-top: 1px solid rgba(white,0.2);
		padding-top: 62px;
		margin-top: 52px;
		line-height: 1.15;
		font-size: 20px;

		@include mq($from: tablet) {
			margin-top: 27px;
			padding-top: 59px;
		}

		.custom-logo-link {
			margin-top: 32px;
			opacity: 0.7;
			background-image: url("#{$sm-images}/systemorph-white.svg");

			@include mq($from: desktop) {
				margin-top: 62px;
			}
		}

		address {
			font-style: normal;
		}

		span,
		address {
			display: block;
		}
	}
}

.footer-navigation {
	.menu {
		margin: 0;
		padding: 0;
		list-style: none;

		@include mq($from: tablet) {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			> .menu-item {
				flex: 0 1 48.5%;
			}
		}

		@include mq($from: tablet-l) {
			> .menu-item {
				// flex-basis: 23.5%;
				flex-basis: 20%;

				&:first-child {
					flex-basis: 32%;
				}

				&:last-child {
					flex-basis: 28%;
				}
			}
		}
	}

	.sub-menu {
		margin: 0;
		padding: 0;
		list-style: none;

		@include mq($from: tablet) {
			padding-right: 20px;
		}

		> .menu-item {
			> a {
				display: inline-block;
				padding: 4px 0;
			}
		}
	}

	.menu-item {
		margin-bottom: 25px;

		// &.has-icon {
		// 	min-height: initial;

		// 	a {
		// 		padding-left: 35px;
		// 		position: relative;

		// 		&:before {
		// 			content: "";
		// 			background-position: 50%;
		// 			background-repeat: no-repeat;
		// 			background-size: 52px 52px;
		// 			position: absolute;
		// 			width: 24px;
		// 			height: 24px;
		// 			left: 0;
		// 			top: 0;
		// 		}
		// 	}

		// 	@each $i in $sm-icons {
		// 		&.icon-#{$i}-white a:before {
		// 			background-image: url("#{$sm-images}/icons/icon-#{$i}-white.svg");
		// 		}
		// 	}
		// }

		a {
			text-decoration: none;
			font-size: 20px;
			line-height: 1.2;
			font-weight: 300;
			display: block;
			cursor: pointer;

			&:hover {
				opacity: 0.75;
			}
		}
	}

	.menu-link-header {
		margin-bottom: 72px;

		@include mq($from: tablet) {
			margin-bottom: 50px;
		}

		@include mq($from: tablet-l) {
			margin-bottom: 27px;
		}

		> a {
			font-size: 16px;
			cursor: default;
			display: block;
			margin-bottom: 21px;

			&:hover {
				opacity: 1;
			}
		}
	}
}

.footer-extra {
	background-color: #f9f9f9;
	padding: 58px 0 66px;

	@include mq($from: tablet-l) {
		padding-top: 78px;
		padding-bottom: 58px;
	}

	.wrap {
		@include mq($from: tablet) {
			display: flex;
		}
	}

	.footer-extra-block {
		@include mq($from: tablet) {
			width: 50%;
		}

		@include mq($from: tablet-l) {
			padding-left: 80px;
			position: relative;
		}

		h3,
		p {
			max-width: 300px;
		}

		h3 {
			font-size: 25px;
			font-weight: 400;
			margin-bottom: 4px;

			@include mq($from: tablet-l) {
				margin-top: 0;
			}
		}

		p {
			font-size: 20px;
			line-height: 1.15;
			margin: 4px 0;
			font-weight: 300;

			@include mq($from: tablet) {
				min-height: 2.35em;
			}
		}

		.button {
			margin-top: 22px;

			@include mq($from: tablet-l) {
				margin-top: 20px;
			}
		}

		+ .footer-extra-block {
			@include mq($until: tablet) {
				margin-top: 72px;
			}
		}
	}

	.has-icon {
		.icon {
			@include mq($from: tablet-l) {
				position: absolute;
				left: 0;
			}
		}
	}
}

.footer-bottom {
	padding: 1px 0;
	background-color: darken($sm-footer-bcolor,3.5%);

	.menu {
		padding-left: 0;

		a {
			color: rgba(white,0.5);
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}