.site-header {
	@extend %clearfix;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;

	&.menu--open {
		background-color: white;
	}

	.home &.menu--open {
		@include mq($from: tablet-l) {
			background-color: rgba(black,0.4);
		}
	}
}

.menu-toggle {
	width: 32px;
	height: 32px;
	background-color: transparent;
	background-image: url("#{$sm-images}/icon-menu.svg");
	background-repeat: no-repeat;
	border: 0 none;
	text-indent: 100%;
	overflow: hidden;
	padding: 0;

	.home & {
		background-image: url("#{$sm-images}/icon-menu-white.svg");
	}

	.toggled-on > & {
		background-image: url("#{$sm-images}/icon-close.svg");
	}

	@include mq($from: tablet-l) {
		display: none;
	}
}

.menu-scroll-down {
	display: none;
}

.navigation-top {
	padding: 14px 0;

	@include mq($from: tablet-l) {
		padding: 20px 0 14px;
	}

	.wrap {
		display: flex;
		justify-content: space-between;

		@include mq($until: tablet-l) {
			.main-navigation {
				order: -1;

				&.toggled-on {
					.menu-menu-container {
						background-color: white;
						position: absolute;
						left: 0;
						right: 0;
						display: block;
						padding: 20px 33px;
						box-shadow: 0 25px 50px -25px rgba(black,0.25), 0 1px 5px -1px rgba(black,0.05);
					}
				}
			}
		}
	}

	.menu-menu-container {
		@include mq($until: tablet-l) {
			display: none;
		}
	}

	.menu {
		margin: 0;
		padding: 0;
		list-style: none;

		@include mq($from: tablet-l) {
			float: right;
			display: flex;
		}

		> .menu-item {

			@include mq($from: tablet-l) {
				margin-left: 36px;
			}

			> a {
				display: block;
				font-size: 16px;
				font-weight: 300;

				@include mq($until: tablet-l) {
					color: map-get($sm-palette,gray);
				}

				@include mq($from: tablet-l) {
					font-size: 12px;
					line-height: 29px;
					text-transform: uppercase;
					letter-spacing: 2px;
					padding-left: 5px;
					padding-right: 5px;
				}

				.home & {
					@include mq($from: tablet-l) {
						color: white;
					}
				}
			}

			&.focus {
				> .sub-menu {
					@include mq($from: tablet-l) {
						left: 0;
						right: 0;
						top: 73px;
					}
				}
			}
		}

		.current-menu-ancestor,
		.current-menu-parent,
		.current-page-ancestor,
		.current-page-grandparent {
			> a {
				@include mq($from: tablet-l) {
					position: relative;
					font-weight: 700;
				}
			}
		}

		.sub-menu {
			list-style: none;
			padding: 0;

			@include mq($until: tablet-l) {
				margin-bottom: 52px;
			}

			@include mq($from: tablet-l) {
				position: absolute;
				left: -999em;
			    top: 100%;
				background-color: white;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				padding: 68px 0 88px;
				box-shadow: 0 25px 50px -25px rgba(black,0.25), 0 1px 5px -1px rgba(black,0.05);
			}

			.home & {
				@include mq($from: tablet-l) {
					background-color: rgba(black,0.4);

					a {
						color: white;
					}
				}
			}

			> .menu-item {
				margin: 12px 0;
				min-height: initial;

				@include mq($from: tablet-l) {
					margin: 17px 20px;
				}

				@include mq($from: desktop) {
					margin-left: 30px;
					margin-right: 30px;
				}

				a {
					font-size: 20px;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.current-menu-item,
			.current_page_item,
			.current_page_parent {
				a {
					font-weight: 500;
				}
			}
		}
	}

	.menu-item {
		a {
			text-decoration: none;
			color: map-get($sm-palette,primary);
			padding: 5px;
			display: inline-block;
			font-weight: 300;
		}
	}
}

.site-branding {
	.custom-logo-link {
		width: 150px;
		height: 22px;
		background-image: url("#{$sm-images}/systemorph.svg");
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: auto 22px;
		display: block;

		.home & {
			background-image: url("#{$sm-images}/systemorph-white.svg");
		}

		.home .menu--open & {
			@include mq($until: tablet-l) {
				background-image: url("#{$sm-images}/systemorph.svg");
			}
		}
	}

	.custom-logo {
		@extend %accessible-hidden;
	}
}