.site-header {
	@extend %clearfix;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;

	&.menu--open {
		background-color: white;
	}

	.home &.menu--open {
		background-color: rgba(black,0.4);
	}
}

.menu-toggle {
	width: 24px;
	height: 24px;

	svg {
		width: 100%;
		height: 100%;
	}

	@include mq($from: tablet-l) {
		display: none;
	}
}

.menu-scroll-down {
	display: none;
}

.navigation-top {
	padding: 20px 0 14px;

	.wrap {
		display: flex;
		justify-content: space-between;
	}

	.menu-top-menu-container {
		@include mq($until: tablet-l) {
			display: none;
		}
	}

	.menu {
		margin: 0;
		float: right;
		padding: 0;
		list-style: none;
		display: flex;

		> .menu-item {
			margin-left: 36px;

			> a {
				font-size: 12px;
				line-height: 29px;
				text-transform: uppercase;
				letter-spacing: 2px;
				display: block;
				padding-left: 5px;
				padding-right: 5px;

				.home & {
					color: white;
				}
			}

			&.focus {
				> .sub-menu {
					left: 0;
					right: 0;
					top: 73px;
				}
			}
		}

		.current-menu-ancestor,
		.current-menu-parent {
			> a {
				position: relative;

				&:after {
					content: "";
					position: absolute;
					left: 5px;
					right: 5px;
					bottom: 4px;
					height: 1px;
					background-color: black;

					.home & {
						background-color: white;
					}
				}
			}
		}

		.sub-menu {
			position: absolute;
			left: -999em;
		    padding: 0;
		    top: 100%;
			background-color: white;
			list-style: none;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding: 68px 0 88px;
			box-shadow: 0 25px 50px -25px rgba(black,0.25), 0 1px 5px -1px rgba(black,0.05);

			.home & {
				background-color: rgba(black,0.4);

				a {
					color: white;
				}
			}

			> .menu-item {
				margin: 17px 0;

				@include mq($from: desktop) {
					margin-left: 30px;
					margin-right: 30px;
				}

				a {
					font-size: 20px;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			&.toggled-on {

			}
		}
	}

	.menu-item {
		a {
			text-decoration: none;
			color: #101F30;
			padding: 5px;
			display: inline-block;
			font-weight: 300;
		}
	}
}

.site-branding {
	.custom-logo-link {
		width: 150px;
		height: 22px;
		background-image: url("#{$sm-images}/systemorph.svg");
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: auto 22px;
		display: block;

		.home & {
			background-image: url("#{$sm-images}/systemorph-white.svg");
		}
	}

	.custom-logo {
		@extend %accessible-hidden;
	}
}