%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
} // .clearfix

%accessible-hidden {
	position: absolute;
	top: 0;
	left: -999px;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}

@mixin placeholder {
	&::-webkit-input-placeholder { @content }
	&:-moz-placeholder           { @content }
	&::-moz-placeholder          { @content }
	&:-ms-input-placeholder      { @content }
	&::placeholder               { @content }
}

@mixin full-width {
	margin-left: -999em;
	margin-right: -999em;
	padding-left: 999em;
	padding-right: 999em;
}

.show-for-mobile {
	@include mq($from: tablet) {
		display: none !important;
	}
}

.show-for-tablet {
	@include mq($until: tablet) {
		display: none !important;
	}
}

%icon {
	display: block;
	margin-bottom: 15px;
	width: 52px;
	height: 52px;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
}

.has-icon {
	position: relative;
	min-height: 52px;

	.icon {
		@extend %icon;

		ul & {
			@include mq($from: tablet) {
				position: absolute;
				left: 0;
			}
		}
	}
}

@each $n,$v in $sm-palette {
	.has-icon > .icon-bcolor-#{$n} {
		background-color: $v;
	}

	.bcolor-#{$n} {
		background-color: $v;
	}
}

@each $n,$v in $sm-color-palette {
	.color-#{$n} {
		color: $v;
	}
}

@each $i in $sm-icons {
	.has-icon > .icon-#{$i} {
		background-image: url("#{$sm-images}/icons/icon-#{$i}.svg");
	}

	.has-icon > .icon-#{$i}-white {
		background-image: url("#{$sm-images}/icons/icon-#{$i}-white.svg");
	}

	.has-icon > .icon-#{$i}-primary {
		background-image: url("#{$sm-images}/icons/icon-#{$i}-primary.svg");
	}
}

%has-icon {
	content: "";
	display: block;
	margin-bottom: 15px;
	width: 52px;
	height: 52px;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
}