%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
} // .clearfix

%accessible-hidden {
	position: absolute;
	top: 0;
	left: -999px;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}

@mixin placeholder {
	&::-webkit-input-placeholder { @content }
	&:-moz-placeholder           { @content }
	&::-moz-placeholder          { @content }
	&:-ms-input-placeholder      { @content }
	&::placeholder               { @content }
}

@mixin full-width {
	margin-left: -999em;
	margin-right: -999em;
	padding-left: 999em;
	padding-right: 999em;
}

.show-for-mobile {
	@include mq($from: tablet) {
		display: none !important;
	}
}

.show-for-tablet {
	@include mq($until: tablet) {
		display: none !important;
	}
}