$sm-images : "assets/images"  !default;

$sm-palette : (
	primary : #101F30
)  !default;

$sm-body-font-family : ("Tajawal", Arial, sans-serif)  !default;

$sm-anchor-color : #2B5FAE  !default;
$sm-anchor-color--hover : #2B5FAE  !default;

$sm-footer-bcolor : map-get($sm-palette, primary)  !default;

$mq-breakpoints: (
    mobile:    320px,
    tablet:    768px,
    tablet-l : 1024px,
    desktop:   1200px,
    wide:      1400px
);

$sm-max-width : 980px !default;