$sm-images : "assets/images"  !default;

$sm-palette : (
	primary : #101F30,
	secondary : #2e3641,
	alert : #cc1300,
	brand-blue: #009cde,
	gray : #a6a6a6
)  !default;

$sm-body-font-family : ("Tajawal", Arial, sans-serif)  !default;
$sm-body-font-color : map-get($sm-palette, primary)  !default;

$sm-anchor-color : map-get($sm-palette, primary) !default;
$sm-anchor-color--hover : map-get($sm-palette, primary) !default;

$sm-button-font-size : 20px !default;
$sm-button-padding : (13px 20px 10px) !default;
$sm-button-color : white !default;
$sm-button-color--hover : $sm-button-color !default;
$sm-button-color--active : $sm-button-color !default;
$sm-button-bcolor : map-get($sm-palette, brand-blue)  !default;
$sm-button-bcolor--hover : darken(map-get($sm-palette, brand-blue),5%)  !default;
$sm-button-bcolor--active : adjust-color(map-get($sm-palette, brand-blue), $lightness: -7.2%, $saturation: -2.2%) !default;
$sm-button-box-shadow : (2px 2px 10px rgba(black,0.2)) !default;

$sm-footer-bcolor : map-get($sm-palette, primary)  !default;

$mq-breakpoints: (
    mobile:    320px,
    tablet:    768px,
    tablet-l : 1024px,
    desktop:   1200px,
    wide:      1400px
);

$sm-max-width : 980px !default;