$sm-images : "assets/images"  !default;

$sm-palette : (
	primary : #101F30,
	secondary : #2e3641,
	alert : #cc1300,
	sm-blue: #009cde,
	sm-purple : #623a81,
	gray : #a6a6a6,
	lavender-gray : #A9A7B3,
	light-gray : #E1E1E1,
	blue : #285fae,
	white : #ffffff
)  !default;

$sm-color-palette : (
	tr-white: rgba(white,0.5),
	white: #ffffff,
	primary: map-get($sm-palette, primary)
) !default;


$sm-icons : (
	add-user,
	aggregate,
	chart,
	check,
	cloud,
	email,
	eye,
	fire,
	flag,
	flexibility,
	graph,
	grid,
	hierarchy,
	idea,
	info,
	layers,
	layout,
	list,
	map,
	mic,
	modify,
	puzzle,
	ruler,
	scissors,
	search,
	settings,
	solid-graph,
	streamline,
	task,
	timer,
	users
) !default;

$sm-body-font-family : ("Tajawal", Arial, sans-serif)  !default;
$sm-body-font-color : map-get($sm-palette, primary)  !default;

$sm-anchor-color : map-get($sm-palette, primary) !default;
$sm-anchor-color--hover : map-get($sm-palette, primary) !default;

$sm-button-font-size : 20px !default;
$sm-button-padding : (13px 20px 10px) !default;
$sm-button-color : white !default;
$sm-button-color--hover : $sm-button-color !default;
$sm-button-color--active : $sm-button-color !default;
$sm-button-bcolor : map-get($sm-palette, sm-blue)  !default;
$sm-button-bcolor--hover : darken(map-get($sm-palette, sm-blue),5%)  !default;
$sm-button-bcolor--active : adjust-color(map-get($sm-palette, sm-blue), $lightness: -7.2%, $saturation: -2.2%) !default;
$sm-button-box-shadow : (2px 2px 10px rgba(black,0.2)) !default;

$sm-footer-bcolor : map-get($sm-palette, primary)  !default;

$mq-breakpoints: (
    mobile:    320px,
    tablet:    768px,
    tablet-l : 1024px,
    desktop:   1170px,
    wide:      1400px
);

$sm-max-width : 980px !default;