.page-management-team {
	.entry-header {
		margin-top: 30px;
		margin-bottom: 0;

		@include mq($from: tablet) {
			margin-top: 60px;
		}
	}

	.entry-title {
		text-align: center;
		margin-bottom: 0;
		max-width: none !important;
	}

	.page-description {
		font-size: 20px;
		line-height: 1.15;
		font-weight: 300;
		margin: 0 auto;
		max-width: 68ch;

		@extend .is-style-spacing-xxlarge;
	}
}

.wp-block-team-management {
	@extend .is-style-spacing-xxlarge;

	@include mq($from: tablet-l) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.team-member {
	box-shadow: 0 0 3px rgba(black,0.1) ,3px 3px 10px rgba(black,0.1);
	border-radius: 9px;
	padding: 25px;
	box-sizing: border-box;
	background-color: white;

	@include mq($from: tablet-l) {
		flex: 0 1 48%;

		&:first-child {
			flex-basis: 100%;

			.t-m-header {
				display: flex;
				justify-content: center;
				align-items: center;

				> div {
					text-align: left;
				}
			}

			.t-m-position {
				margin-top: 8px;
				margin-bottom: 10px;
			}

			.t-m-image {
				margin: 0 30px 21px 0 !important;
			}
		}
	}

	& + & {
		margin-top: 100px;
	}

	@include mq($from: tablet) {
		padding: 40px;
	}

	@include mq($from: desktop) {
		padding: 50px;
	}

	.t-m-header {
		text-align: center;
	}

	.t-m-name {
		font-size: 25px;
		font-weight: 400;
		margin: 0;

		+ .t-m-position {
			margin-top: 11px;
		}
	}

	.t-m-position {
		font-size: 20px;
		font-weight: 300;
	}

	.t-m-image {
		width: 155px;
		height: 155px;
		margin: -(30px + 25px) auto 32px;

		@include mq($from: tablet) {
			margin-top: -(30px + 40px);
		}

		@include mq($from: desktop) {
			margin-top: -(30px + 50px);
		}

		img {
			display: block;
			border-radius: 100%;
			width: 100%;
			height: 100%;
		}
	}

	.t-m-info {
		font-size: 20px;
		line-height: 1.15;
		font-weight: 300;

		p:last-child {
			margin-bottom: 0;
		}
	}
} // team_member


.event-speakers {
	box-shadow: 3px 3px 10px rgba(black,0.1);
	border-radius: 6px;
	background-color: white;
	padding: 40px 50px 30px;

	.event-speakers-title {
		font-size: 25px;
		font-weight: 400;
		margin-top: 0;
	}

	.speaker-list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.event-speaker {
		display: flex;

		+ .event-speaker {
			margin-top: 30px;
		}

		.event-speaker-image {
			width: 100px;
			margin-right: 29px;

			img {
				display: block;
				max-width: 100%;
				height: auto;
				border-radius: 100px;
			}
		}

		.event-speaker-info {
			flex-grow: 1;
			display: flex;
			flex-direction: column-reverse;
			justify-content: center;

			> * {
				font-size: 25px;
				margin: 0;
			}
		}

		.speaker-name {
			font-weight: 400;
		}

		.speaker-position {
			font-weight: 300;
		}
	}
}